<section class="div-content">
    <div class="container-fluid seccion-superlinea">
        <div class="row row-superlinea">
            <div class="col-12 text-center d-block d-lg-flex justify-content-lg-center title">
                <!--<div>
                    <img class="telefono" src="/components/footer/assets/img/seccion-superlinea/telefono.png">
                </div>-->
                <div>
                    <h1 class="mb-3">SuperLínea</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 d-block d-lg-flex justify-content-lg-center">
                <div class="d-flex justify-content-center align-items-center contenedor-mexico">
                    <div>
                        <img class="img-bandera" src="assets/img/seccion-superlinea/bandera.png">
                    </div>
                    <div>
                        <p class="mb-0">Desde México</p>
                        <p class="mb-0">
                            <a href="tel:+5255 5169-4304" onclick="eventUtag('superlinea','desdeMexico')">
                                55 5169-4300
                            </a>
                        </p>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center contenedor-mundo">
                    <div>
                        <img class="img-mundo" src="assets/img/seccion-superlinea/mundo.png">
                    </div>
                    <div>
                        <p class="mb-0">Desde el extranjero</p>
                        <p class="mb-0">
                            <a href="tel:1 844 705 80 77" onclick="eventUtag('superlinea','desdeExtranj')">
                                1 844 705 80 77
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-contrata-en-linea" id="contrata-en-linea">
        <div class="alinea-contendo" id="contratacion">
            <h1 class="h1-contrata-linea">
                Nuestros productos
            </h1>
            <div class="contenedor-items">
                <a href="../../personas/tarjetas-de-credito/index.html" 
                   class="alinea-anchor"
                   onclick="eventUtag('nuestrosProductos','tarjetas')">
                    <div class="item-contrata">
                        <div class="icon1"></div>
                        <p class="p-items">Tarjetas de crédito</p>
                    </div>
                </a>
                
                <a href="../../personas/cuentas/index.html" 
                   class="alinea-anchor"
                   onclick="eventUtag('nuestrosProductos','cuentas')">
                    <div class="item-contrata">
                        <div class="icon2"></div>
                        <p class="p-items">Cuentas</p>
                    </div>
                </a>
                
                <a href="../../personas/inversiones/index.html" 
                   class="alinea-anchor"
                   onclick="eventUtag('nuestrosProductos','inversiones')">
                    <div class="item-contrata">
                        <div class="icon3"></div>
                        <p class="p-items">Inversiones</p>
                    </div>
                </a>
                
                <a href="../../personas/creditos-hipotecarios/index.html" 
                   class="alinea-anchor"
                   onclick="eventUtag('nuestrosProductos','credHipot')">
                    <div class="item-contrata">
                        <div class="icon4"></div>
                        <p class="p-items">Crédito hipotecario</p>
                    </div>
                </a>
                
                <a href="../../personas/credito-automotriz/index.html" 
                   class="alinea-anchor"
                   onclick="eventUtag('nuestrosProductos','credAutom')">
                    <div class="item-contrata">
                        <div class="icon5"></div>
                        <p class="p-items">Crédito automotriz</p>
                    </div>
                </a>
                
                <a href="../../personas/creditos-personales/index.html" 
                   class="alinea-anchor"
                   onclick="eventUtag('nuestrosProductos','credPers')">
                    <div class="item-contrata">
                        <div class="icon6"></div>
                        <p class="p-items">Crédito personal</p>
                    </div>
                </a>
                
                <a href="../../personas/seguros/index.html" 
                   class="alinea-anchor"
                   onclick="eventUtag('nuestrosProductos','seguros')">
                    <div class="item-contrata">
                        <div class="icon7"></div>
                        <p class="p-items">Seguros</p>
                    </div>
                </a>
                
                <a data-fancybox data-animation-duration="700" data-src="#animatedModal" href="javascript:;" 
                   class="alinea-anchor"
                   onclick="eventUtag('nuestrosProductos','traeTuNom')">
                    <div class="item-contrata">
                        <div class="icon8"></div>
                        <p class="p-items">Trae tu nómina</p>
                    </div>
                </a>
                
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="site-footer">
    <div class="container foot">
        
        <div class="flexFooter">
            <a href="../../index.html" class="logo-footer"></a>
            <div>
                <p class="accordion">Acerca del Banco</p>
                <div class="panel">
                    <a href="../../ir/home/index.html">Inversionistas</a>
                    <a href="../../ceb/sala_prensa_2023.html">Sala de Comunicación</a>
                    <a href="../../personas/acerca-del-banco/responsabilidad-social.html">Banca
                        Responsable</a>
                    <a href="../../personas/santander-digital/bolsa-de-trabajo.html">Bolsa de
                        trabajo</a>
                    <a href="../../educacion-financiera/index.html" onclick="utag.link({interaction_category:'Footer',interaction_action:'Acerca del Banco',interaction_label:'Educacion Financiera'});">Educación
                        Financiera</a>
                    <!--<a href="https://www.santander.com.mx/personas/acerca-del-banco/radar.html">Radar</a>-->
                    <a href="../../personas/regulacion/titulos.html">Títulos</a>
                    <!-- <a href="https://www.santander.com.mx/personas/workcafe.html">WorkCafé</a> -->
                    <a href="../../asambleas/informacion-general-de-asamblea-extraordinaria/terminos-condiciones.html">OPA</a>
                    <!-- <a href="https://www.santander.com.mx/personas/acerca-del-banco/informacion-opa.html">Información OPA Santander México</a> -->
                </div>
            </div>
            <div>
                <p class="accordion">Regulación</p>
                <div class="panel">
                    <a href="../../personas/regulacion/solicitud_de_aclaraciones.html">Aviso
                        legal</a>
                    <a href="../../PDF/personas/AvisoPrivacidad.pdf">Aviso de Privacidad</a>
                    <a href="../../personas/regulacion/transparencia.html">Transparencia</a>
                    <a href="../../corresponsales/index.html">Comisionistas</a>
                    <a href="../../personas/regulacion/biometricos.html">Biométricos</a>
                </div>
            </div>
            <div>
                <p class="accordion">Ayuda</p>
                <div class="panel">
                    <a href="../../personas/ayuda/quejas-sugerencias.html">Quejas, sugerencias</a>
                    <a href="../../personas/regulacion/transparencia.html#anc-1">UNE Santander</a>
                    <a href="../../personas/regulacion/transparencia.html#anc-5">Buró Entidades
                        Financieras</a>
                    <a href="../../personas/ayuda/tips-seguridad.html">Tips antifraude</a>
                    <a href="../../personas/regulacion/audiencias-digitales.html">Negociaciones</a>
                    <a href="../../personas/regulacion/ayuda-covid.html">Covid19</a>
                    <a href="../../personas/regulacion/mapa-de-sitio.html">Mapa del sitio</a>
                    <!--<a href="https://www.santander.com.mx/personas/ayuda/mapa-sitio.html">Mapa del sitio</a>-->
                </div>
            </div>
            <div>
                <p class="accordion">Síguenos</p>
                <div class="panel">
                    <a href="../../../www.facebook.com/SantanderMex.html" target="_blank"><i class="ico-redsocial1"></i>
                        Facebook</a>
                    <a href="../../../www.instagram.com/santander_mex/index.html" target="_blank"><i class="ico-redsocial2"></i>
                        Instagram</a>
                    <a href="../../../twitter.com/SantanderMx.html" target="_blank"><i class="ico-redsocial3"></i> Twitter</a>
                    <a href="../../../www.linkedin.com/company/banco-santander-mexico/index.html" target="_blank"><i
                            class="ico-redsocial4"></i> Linkedin</a>
                    <a href="../../../www.youtube.com/user/SantanderMex.html" target="_blank"><i class="ico-redsocial5"></i>
                        Youtube</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container footSec">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="flex">
                    <a href="../../../www.buro.gob.mx/index.html">
                        <div class="logo-buro"></div>
                    </a>
                    <a href="../../../www.ibm.com/security/trusteer/landing-page/es/santander-mexico-supernet-personas/index.html" target="_blank">
                        <div class="logo-truster2"></div>
                    </a>
    
                </div>
            </div>
            <div class="col-md-6 col-12">
                <a class="txtCost" href="../../personas/regulacion/tabla-comisiones.html">Consulta
                    los costos y las comisiones de nuestros productos.</a>
                <a class="txtCost" href="../../personas/regulacion/contratos.html">Contratos y
                    formatos</a>
            </div>
        </div>
    </div>
    
    <div class="container cont-comisionistas">
        <div class="row">
            <div class="col-12 col-md-12">
                <p>Comisionistas Mercantiles</p>
    
                <span>Son establecimientos donde puedes realizar tus servicios financieros Santander con comisiones bajas:
                    pagar tarjetas o depositar a cuentas.</span>
                <div class="flex-brands">
                    <div>
                        <a href="../../../servicios.santander.com.mx/circlek/index.html" onclick="utag.link({interaction_category:'Santander-Digital',interaction_action:'Comisionistas Mercantiles',interaction_label:'CircleK'});" target="_blank"><img src="../../personas/assets/img/santander-digital/mecantil_8.png" alt=""></a>
                    </div>
                    <div>
                        <a href="../../../servicios.santander.com.mx/circlek/index.html" onclick="utag.link({interaction_category:'Santander-Digital',interaction_action:'Comisionistas Mercantiles',interaction_label:'Extra'});" target="_blank"><img src="../../personas/assets/img/santander-digital/mecantil_1.png" alt=""></a>
                    </div>
                    <div>
                        <a href="../../../servicios.santander.com.mx/circlek/index.html" onclick="utag.link({interaction_category:'Santander-Digital',interaction_action:'Comisionistas Mercantiles',interaction_label:'K'});" target="_blank"><img src="../../personas/assets/img/santander-digital/VENTE-PA-K_CVS_ROJOS.png" alt=""></a>
                    </div>
                    <div>
                        <a href="../../../servicios.santander.com.mx/7-24Mix/index.html" onclick="utag.link({interaction_category:'Santander-Digital',interaction_action:'Comisionistas Mercantiles',interaction_label:'7-24Mix'});" target="_blank"><img src="../../personas/assets/img/santander-digital/mecantil_5.png" alt=""></a>
                    </div>
                    <div>
                        <a href="../../../servicios.santander.com.mx/woolworth_delsol/index.html" onclick="utag.link({interaction_category:'Santander-Digital',interaction_action:'Comisionistas Mercantiles',interaction_label:'Del Sol'});" target="_blank"><img src="../../personas/assets/img/santander-digital/logo_del_sol.png" alt=""></a>
                    </div>
                    <div>
                        <a href="../../../servicios.santander.com.mx/woolworth_delsol/index.html" onclick="utag.link({interaction_category:'Santander-Digital',interaction_action:'Comisionistas Mercantiles',interaction_label:'Woolworth'});" target="_blank"><img src="../../personas/assets/img/santander-digital/logo_woolworth.png" alt=""></a>
                    </div>
                    <div>
                        <a href="../../../servicios.santander.com.mx/7Eleven/index.html" onclick="utag.link({interaction_category:'Santander-Digital',interaction_action:'Comisionistas Mercantiles',interaction_label:'7Eleven'});" target="_blank"><img src="../../personas/assets/img/santander-digital/mecantil_4.png" alt=""></a>
                    </div>
                    <div>
                        <a href="../../../servicios.santander.com.mx/fguadalajara/index.html" onclick="utag.link({interaction_category:'Santander-Digital',interaction_action:'Comisionistas Mercantiles',interaction_label:'FGuadalajara'});" target="_blank"><img src="../../personas/assets/img/santander-digital/mecantil_6.png" alt=""></a>
                    </div>
                    <div>
                        <a href="../../../servicios.santander.com.mx/telecomm/index.html" onclick="utag.link({interaction_category:'Santander-Digital',interaction_action:'Comisionistas Mercantiles',interaction_label:'Telecomm'});" target="_blank"><img src="../../personas/assets/img/santander-digital/mecantil_2.png" alt=""></a>
                    </div>
                    <div>
                        <a href="../../../servicios.santander.com.mx/oxxo/index.html" onclick="utag.link({interaction_category:'Santander-Digital',interaction_action:'Comisionistas Mercantiles',interaction_label:'Oxxo'});" target="_blank"><img src="../../personas/assets/img/santander-digital/mecantil_7.png" alt=""></a>
                    </div>
    
                    <div>
                        <a href="../../../servicios.santander.com.mx/fahorro/index.html" onclick="utag.link({interaction_category:'Santander-Digital',interaction_action:'Comisionistas Mercantiles',interaction_label:'Fahorro'});" target="_blank"><img style="width: 100px;" src="../../personas/assets/img/santander-digital/mercantil_9.png" alt=""></a>
                    </div>
    
                    <div>
                        <a href="../../../servicios.santander.com.mx/soriana/index.html" onclick="utag.link({interaction_category:'Santander-Digital',interaction_action:'Comisionistas Mercantiles',interaction_label:'Soriana'});" target="_blank"><img style="width: 100px;" src="../../personas/assets/img/santander-digital/mercantil_10.png" alt=""></a>
                    </div>
    
    
    
                </div>
    
            </div>
        </div>
    </div>
</footer>

<section class="content-info-important">
    <div class="container">
        <p>
            En <strong>Santander</strong> nunca te solicitamos información confidencial como tu número de
            usuario, contraseñas o claves dinámicas generadas desde tu SuperToken
        </p>
    </div>
</section>

<div class="legalPrincipal ">
    <div class="container ">
        <p>
            Derechos Reservados <span id="anio"></span>
            <script type="text/javascript ">
                var hoy = new Date();
                var y = hoy.getFullYear() + 0;
                var ano = y < 0 ? "0 " + y : y;
                console.info(ano)
                $("#anio").append(ano);
                /*document.write(ano);*/
            </script>
            , Banco Santander México S.A., Institución de Banca Múltiple, Grupo Financiero Santander México.
        </p>
    </div>
</div>

<!-- MODAL TRAE TU NOMINA -->
<div class="card" style="display: none" id="animatedModal">
    <div class="card-body ">
        <div class="animated-modal ">
            <center>
                <img src="../../personas/assets/img/cuentas/logo_santander_nomina.svg"
                    alt="trae tu nomina, cambiar nomina " />
            </center>
            <h2>Bienvenido</h2>
            <p>Trae tu nómina y disfruta de beneficios exclusivos</p>
            <div class="flexDescript flexDescriptNomina ">

                <a href="../../personas/cuentas/trae-tu-nomina-no-cliente.html" class="btn-red link-button-inv "
                    target="_parent ">No tengo cuenta Santander</a>
                <a href="../../personas/cuentas/cuentas/trae-tu-nomina-cliente.html" class="btn-red link-button-inv "
                    target="_parent ">Ya tengo cuenta</a>
            </div>
        </div>
    </div>
</div>



<!--<script src="/personas/assets/js/librerias/vendor/modernizr-3.7.1.min.js"></script>
        <script src="/personas/assets/js/librerias/vendor/jquery-3.4.1.min.js"></script>
        <script src="/personas/assets/js/libs/bootstrap/bootstrap.bundle.min.js"></script>-->

<script type="text/javascript">
    $(function() {
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            }
        }
    });

    $(document).ready(function() {
        $(".action-com").click(function(e) {
            e.preventDefault();
            $(".cont-comisionistas").fadeToggle();
            $("html, body").animate({
                scrollTop: $(document).height()
            }, 1000);
        });
    });
</script>